<!DOCTYPE html>
<html>
<head>
	<!-- <meta http-equiv="refresh" content="5"> -->
	<style type="text/css">
		
		body {
			font-family: Courier;
		}

	</style>
	<script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script> 
	<script type="text/javascript">
	var players = [
		{% for player in players.find() %}
		{
			"agentNumber": {{ player.agentNumber }},
			"points": {{ player.points }}
		},
		{% endfor %}
	];

	function renderBoard () {
		players.sort(function (a, b) {  // https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array/sort
			if (a.points < b.points) {
				return 1;
			}
			if (a.points > b.points) {
				return -1;
			}
			return 0;
		})
		for (var i = 0; i < players.length; i++) {
			var li = document.createElement('li');
			// li.className = data.tag;
			li.innerHTML = players[i].agentNumber + ": " + players[i].points;
			document.querySelector('.scoreboard').appendChild(li);
			// needs to overwrite the existing render
		};
	}

	window.onload = renderBoard;

	var ws = io.connect();

	ws.on('scorechange', function(data) {

		// needs to change the object with the given agentNumber in the players array to have the specified number of points,
		// then re-render the board
	});

	ws.on('newplayer', function(data) {

		//needs to add a new player object to players array,
		// the re-render the board
	});

	ws.on('spurious', function(data) {
	    // console.log(arguments);
	    console.log("new spurious report: "+data);
	    var span = document.createElement('span');
	    span.className = "report";
	    span.innerHTML = data;
	    document.querySelector('.spurious').appendChild(span);
	});

	// ws.emit("message");
	</script>
</head>
<body>
	<ul class="scoreboard">

	</ul>
	<div class="spurious">
		<h1>Spurious Reports</h1>
		{% for item in spuriousReports|reverse %}<span class="report">{{ item }}</span> {% endfor %}	
	</div>
</body>
</html>